<html>
<title> Book Flight </title>
<form action="/airlines/FirstClass">
<body background="/images/bg.jpg">
<center>
<table width="30%" cellspacing="0" cellpadding="5">
<caption><h3><b> Book Your Flight And Enjoy Your Tour </b></h3></caption>
<tr>
    <td><b>Flight Number:</b></td>
    <td><input type="text" placeholder="Enter Flight Number" name="fn"></td>
</tr>

<tr>
    <td><b>Choose Your Flight:</b></td>
    <td><select name="fname">
  <option>-Select Your Flight-</option>
  <option>SpiceJet</option>
  <option>IndiGo</option>
  <option>KingFisher</option>
    </select></td>
</tr>

<tr>
<td><b>Select Your Class:</b></td>
<td><select name="class">
  <option>-Class-</option>
  <option>First Class</option>
  <option>Second Class</option>
  <option>Economy Class</option>
</select></td>
</tr>

<tr>
    <td><b>Flight Source:</b></td>
    <td><select name="fsrc">
  <option>-Select Your City-</option>
  <option>Pune</option>
  <option>Mumbai</option>
  <option>Goa</option>
  <option>Chennai</option>
    </select></td>
</tr>

<tr>
    <td><b>Your Destination:</b></td>
    <td><select name="fdes">
  <option>-Select Your Destination-</option>
  <option>Pune</option>
  <option>Mumbai</option>
  <option>Goa</option>
  <option>Chennai</option>
    </select></td>
</tr>

<tr>
    <td><b>Your Beverages You Wants in the Flight:</b></td>
    <td><select name="food">
  <option>-Select Your Beverages-</option>
  <option>Burger</option>
  <option>Idli</option>
  <option>Vada Pao</option>
  <option>Salad</option>
  <option>None</option>
    </select></td>
</tr>

</table>

<br><caption><b>Passenger Information:</b></caption>

<table border="1" width="30%" cellspacing="0" cellpadding="5">

<tr>
<th>S.NO.</th>
<th>Name</th>
<th>Age</th>
<th>Sex</th>
</tr>

<tr>
<td>1.</td>
<td><input type="text" placeholder="Enter Passenger Name" name="nam"></td>
<td><input type="value" placeholder="Enter Age" name="age"></td>
<td><select name="sex">
<option>-Select Gender-</option>
<option>Male</option>
<option>Female</option>
</select></td>
</tr>

</table>

<input type="submit">
<input type="reset">
</center>

</body>
</form>
</html>